<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Cambio de turno con el servicio</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>





<div class="container-fluid container-fullw bg-white">
	<p>Este cambio de turno se ingresa directamente en la planilla.</p>

	<ul>
		<li>Para ingresar una devolución (DTS), se selecciona un turno libre del trabajador y se aprieta sobre el menú "Menú Devolución".</li>
		<li>Para ingresar un cambio(CTS), se selecciona un turno de la rotativa y se selecciona el menú "Cambio de turno > CTS".</li>
	</ul>
</div>