<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Cambio de turno entre trabajadores</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>


<div class="container-fluid container-fullw bg-white">
	<p>El cambio de turno corresponde a un enroque de turnos y dias libres entre dos trabajadores. La persona que solicita el cambio</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438972434324.png" alt="">
	</a>

	<p>Finalmente, el cambio se ve reflejado en la planilla de la siguiente forma. Con un super indice CT quedan marcados los turnos de rotativa que se dejan de realizar y con un DT se identifican los turnos de devolución que realizarán los trabajadores en lugar de su turno original. En el ejemplo se puede ver que la devolución de Kharen Adonis (Cambio aceptante) cubre el cambio de turno de Nataly Opazo(Cambio solicitante).</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438972671766.png" alt="">
	</a>
</div>