<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Crear una nueva rotativa</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>Se puede crear una nueva rotativa de turnos de dos formas:</p>
	<ul>
		<li>Desde el menú de "Acciones > Rotativa > Crear rotativa nueva"</li>
		<li>Directamente desde la planilla al apretar sobre el turno desde se desea definir una nueva rotativa</li>
	</ul>
</div>
