<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Orientación</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>Para ingresar un periodo de orientación a un trabajador es necesario primero posicionarse en la planilla correspondiente a su estamento. Si la persona que desea poner en periodo de orientación no aparece, debe reportar a RRHH ya que ellos son los únicos que pueden ingresar personas contratadas al sistema</p>

	<p>Al crear un periodo de orientación todos los turnos que queden dentro del periodo definido se convertirán en tus de orientación y no contarán como dotación efectiva reflejándose como "turnos en orientación" en el reporte por fecha y por trabajador.</p>

	<p>Ya en la planilla, en el menú de Personal existe una opción que se llama orientación. Al apretarla se abre una ventana como la siguiente donde nos pide un nombre o apellido.</p>


	<img src="" alt="">

	<p>Una vez seleccionado se listan todos los periodos de orientación que ha tenido una persona. También es posible editarlo o anularlo.</p>
	
	<img src="" alt="">

	<p>Para crear un nuevo periodo de orientación existe un botón verde llamado "crear orientación". Al seleccionarlo hay que ingresar los siguientes datos: Fecha de inicio, fecha de termino y una observación. Luego presionamos "guardar" para ingresar el periodo de orientación a la planilla o "cancelar" para descartar los cambios.</p>

	<img src="" alt="">

	<p>Al guardar, nos dirige a la planilla y podemos ver que los turnos dentro del periodo han sido identificados con el super índice "Or".</p>
	
	<img src="" alt="">
</div>