<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Permisos</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>






<div class="container-fluid container-fullw bg-white">
	<p>Al abrir el mantenedor de permisos se debe seleccionar un trabajador para listar por permisos que este tenga ingresados. Una vez listados, es posible editarlos y anularlos.</p>

	<p>Para ingresar un nuevo permiso hay que apretar el boton correspondiente, esto despliega un formulario donde se ingresan los datos necesarios.</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438980171844.png" alt="">
	</a>
</div>
