<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Salir</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>Por la seguridad de los datos es siempre recomendable cerrar la sesión de administrador cuando el equipo quedará solo. Para esto solo hay que apretar el botón salir en el menú de opciones. La sesión NO se cierra automaticamente al cerrar la ventana.</p>


	<p><b>IMPORTANTE</b>: Los cambios que se realizan son registrados junto con las credenciales de acceso que hayan ingresado al sistema, por lo tanto, el usuario dueño de estas es responsable por la sesión y los cambios que se realicen mientras dure esta.</p>
</div>