<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Consulta rápida por trabajador</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>Desde el menú de consulta rápida se selecciona un trabajador y se aprieta <b>Consultar</b>.</p>

	<p>Seleccionar un intervalo para obtener respecto al trabajador:</p>

	<ul>
		<li>Balance de los turnos</li>
		<li>Número de cambios entre trabajador</li>
		<li>Saldo de turnos pendientes</li>
	</ul>

</div>