
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Crear un turno con personal de otra unidad (OU)</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>En la selección de personal es posible consultar por trabajadores del mismo estamento en otras unidades. Para estos es posible definir turnos de orientación.</p>

	<p><b>Nota</b>: Después de crear un turno a través de este mantenedor, es posible crear los siguientes directamente desde la planilla sin volver ha repetir este procedimiento.</p>
</div>