<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Crear turno Part-Time (PT)</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<!-- <p>Para crear un turno Part-Time es necesario registrar al trabajador en rFlex. Para esto se debe ir al Sidebar y consultar en el boton verde.</p> -->

	<p>Los turnos Part-Time son turnos que realizan las enfermeras de la unidad de manera extraordinaria a su rotativa de trabajo. Solo pueden ser creados a través del mantenedor Cubrir Turno.</p>

	<p>Se selecciona la fecha y el tipo de turno a cubrir. Se puede agregar una observación que pueda explicar la necesidad de personal.</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438469666042.png" alt="">
	</a>

	<p>Se listan todos los trabajadores (enfermeras o auxliares dependiendo de la planilla donde se esté creando el turno) que han realizado turnos en la unidad.</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438469677501.png" alt="">
	</a>

	<p>No estar en la lista la persona deseada se debe cambio la respuesta de Personal Existente a No.</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438469691015.png" alt="">
	</a>

	<p>Al ingresar el &lt;&lt;rut&gt;&gt; se completarán los cambios así como la unidad del trabajador. En caso de ser una persona externa a la clínica se pueden completar sus datos y luego crear el turno.</p>
</div>