<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Dotación autorizada por nivel de actividad</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>La dotación autorizada es el numero de trabajadores por estamento que se espera tener para cada turno y dia de la semana. Esta definido para distintos numero de camas, siendo los números intermedios por defecto autorizados hasta el nivel justo superior.</p>
</div>