
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Introducción de notas</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>Las notas son compartidas por todos los administradores de una unidad. Estas se registran bajo el nombre del administrador que las registra y solo el puede modificarlas.</p>
</div>