
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Reporte de turnos extra</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>El reporte de horas extra devuelve de forma ordenada todos los turnos y fracciones de estos que corresponden a horas extra. Para esto lista todos los turnos extra asignados al personal y ademas considera las horas de turnos en días festivos cargando automáticamente los turnos de 10, 11, 12 horas.</p>
</div>