
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Reporte por fecha</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>El reporte por fecha hace un balance de los turnos, cambios, permisos y turnos extra para determinar la dotación efectiva. Las filas de color BLANCO suman al balance final(dotación efectiva) mientras que los turnos en celeste se deben restar.</p>

	<p>Operatoria:</p>

	<ul class="list-unstyled">
		<li>+ Contratados</li>
		<li>- <i>Cambio de turno</i></li>
		<li>+ Devolucion de turno</i></li>
		<li>- <i>Licencia</i></li>
		<li>- <i>Ausentismo</i></li>
		<li>- <i>Permisos</i></li>
		<li>- <i>Vacaciones o dia administrativo</i></li>
		<li>+ Turno extra</li>
		<li>+ Turno Parttime</li>
		<li>- <i>Orientación</i></li>
		<li>----------------------------------</li>
		<li>= Dotación efectiva</li>
	</ul>



	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438976510863.png" alt="">
	</a>
</div>