
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Reporte por trabajador</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>El reporte por trabajador hace un balance en el periodo escogido para un trabajador en especifico. La operatoria es la siguiente:</p>

	<ul class="list-unstyled">
		<li>+ Turnos por rotativa</li>
		<li>- <i>Cambios de turno</i></li>
		<li>+ Devoluciones</li>
		<li>- <i>Turnos con licencia</i></li>
		<li>- <i>Turnos con permisos</i></li>
		<li>- <i>Turnos en vacaciones</i></li>
		<li>- <i>Turnos ausentes (no justificados)</i></li>
		<li>+ Turno extra</li>
		<li>----------------------------------</li>
		<li>= Total turnos realizados</li>
	</ul>

	<p>Ej.: Este reporte debe leerse de la siguiente forma: "Para el intervalo seleccionado, el trabajador tenía (+) 3 turnos largos asignados en su rotativa original; hizo (+) 1 turno de devolución y (+) 2 turnos extra, por lo tanto, realizó (=) 6 turnos largos. Por rotativa, tenía asignados (+) 3 turnos de noche, menos (-) 1 que lo cambió, más (+) 1 turno de devolución, más (+) 2 turnos extra, por lo tanto, hizo (=) 5 turnos de noche".</p>


	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1438977600974.png" alt="">
	</a>
</div>