<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Uso de vista panorámica</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>





<div class="container-fluid container-fullw bg-white">
	<p>Presenta en una <i>nueva ventana</i> una vista solo lectura de la planilla seleccionada. En la parte superior tiene dos botones para acercar o alejar la vista.</p>


	<h6>Destacar turnos</h6>
	<p>Al pararse sobre el botón DESTACAR se pueden seleccionar turnos a resaltar en la panorámica.</p>
</div>