
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Cambio de Turno</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>Al entrar a la opción de cambio de turno se listan las (1) solicitudes ingresadas y, abajo, (2) las solicitudes de otros en las que somos debemos aceptar el cambio.</p>

	<img src="" alt="">


	<h3>INGRESAR NUEVA SOLICITUD</h3>

	<p>Para ingresar una nueva solicitud inicia con el botón.</p>

	<img src="" alt="">

	<p>El nombre del solicitante es el tuyo. Siguiente.</p>

	<img src="" alt="">

	<p>Busca a la persona que aceptará el cambio solicitado.</p>

	<img src="" alt="">

	<p>Selecciona la fecha en que dejarás de hacer el turno originalmente asignado.</p>

	<img src="" alt="">

	<p>Selecciona la fecha y turno en que devolverás este cambio.</p>

	<img src="" alt="">

	<p>Nuevamente en el menú de solicitudes podemos ver la solicitud ingresar. Este debe se (1) aceptada por lo persona que indicaste y (2) autorizada por la coordinación.</p>

	<img src="" alt="">



	<h3>TRABAJADOR ACEPTANTE</h3>

	<p>Cuando seas tu quien sea solicitado como aceptante para un cambio, este se te notificará al ingresar a tu sesión.</p>

	<img src="" alt="">


</div>