
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Cambio de turno con el servicio</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>Cambio de turno de servicio o CTS corresponde a un cambio requerido por la coordinación ya sea para liberar un turno, o para cubrir una ausencia con la devolución de turno de servicio.</p>

	<img src="" alt="">

	<p>En morado la devolución (DTS), en rojo el turno cambiado (CTS).</p>

</div>