
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Disponibilidad</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>Puedes indicar voluntariamente los días y turnos en que estás dispuesto a ser contactado para cubrir necesidades del servicio.</p>

	<h3>CASO PRÁCTICO</h3>

	<ul>
		<li>
			<p>Queremos indicar disponibilidad para cubrir el día sábado antes del turno de noche. En este caso, estaría ofreciendo hacer un turno de 24 hrs. Puedes dejar un comentario indicando, por ejemplo, que puedes cubrir solo 8 horas.</p>
			<a href="#" class="thumbnail">
				<img src="assets/images/rflex/explicacion turno 2.jpg" alt="">
			</a>
		</li>
		<li>
			<p>Tickeamos la casilla y guardamos con el <span style="background: green; color: white;">botón</span> verde que aparece en la parte inferior</p>
			<a href="#" class="thumbnail">
				<img src="assets/images/rflex/explicacion turno 6.jpg" alt="">
			</a>
		</li>
		<li>
			<p><b>CANCELAR DISPONIBILIDAD</b>: Puedes cancelar la disponibilidad ingresar en cualquier momento.</p>
			<a href="#" class="thumbnail">
				<img src="assets/images/rflex/explicacion turno 7.jpg" alt="">
			</a>
		</li>
	</ul>
</div>