
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Intención de cambio</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>También puedes indicar turnos asignados por rotativa que estarías dispuesto a cambiar por necesidad del servicio.</p>

	<img src="" alt="">

	<ul>
		<li>
			<p>Selecciona el turno tickeando la casilla "Aceptaría cambiar este turno" y guarda con el botón en la parte inferior de la ventana.</p>
			<img src="" alt="">
		</li>
		<li>
			<p>Puedes cancelar la intención de cambio apretando el botón amarillo.</p>
			<img src="" alt="">
		</li>
	</ul>
</div>