
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Intención de cambio</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>



<div class="container-fluid container-fullw bg-white">
	<p>También puedes indicar turnos asignados por rotativa que estarías dispuesto a cambiar por necesidad del servicio.</p>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/explicacion turno 3.jpg" alt="">
	</a>

	<ul>
		<li>
			<p>Selecciona el turno tickeando la casilla "Aceptaría cambiar este turno" y guarda con el botón en la parte inferior de la ventana.</p>
			<a href="#" class="thumbnail">
				<img src="assets/images/rflex/explicacion turno 4.jpg" alt="">
			</a>
		</li>
		<li>
			<p>Puedes cancelar la intención de cambio apretando el botón amarillo.</p>
			<a href="#" class="thumbnail">
				<img src="assets/images/rflex/explicacion turno 5.jpg" alt="">
			</a>
		</li>
	</ul>
</div>