<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Menú de opciones</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>En la barra superior están las opciones disponibles:</p>


	<img src="" alt="">



	<ul>
		<li>Turnos: Es la pantalla de inicio. Se listan los días del mes divididos en día y noche. Se puede registrar disponibilidad o también disposición a cambiar un turno asignado por rotativa.</li>
		<li>Planilla: Es una vista de la planilla completa de todo el personal de la unidad.</li>
		<li>Cambiar contraseña: Después de tu primer ingreso deberías cambiar tu contraseña. Si tiene problemas para entrar envía un correo a soporte@rflex.cl</li>


		<li>
			Solicitud de cambio de turno con un compañero:
			<ul>
				<li>Ingresar solicitud: (1) elige a quien aceptará el cambio, (2) selecciona la fecha y el turno que te liberaras con el cambio, (3) la fecha de devolución y por ultimo, si el cambio es factible (4) puedes apretar el botón "siguiente". La solicitud deberá ser aceptada por tu compañero en su propia sesión, y luego aprobada por la coordinación.</li>
				<li>Aceptar solicitud: Las solicitudes aparecen listadas y puedes aceptarlas o rechazarlas.</li>
			</ul>
		</li>




		<li>Feedback: Puedes enviar un mensaje directo al equipo rFlex</li>
	</ul>

</div>