<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Requerimientos mínimos</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>rFlex es una <a href="https://es.wikipedia.org/wiki/Aplicaci%C3%B3n_web" target="_blank">aplicación web</a>, esto quiere decir que necesitas de un navegador(como el que estás usando ahora) para poder utilizarla. rFlex no está instalado en tu computador, puedes entrar también desde tu teléfono. Como navegador hemos elegido Chrome porque ocupa la última tecnología y es la que nos gusta.</p>

	<p>Si tu computador no tiene los siguientes atributos técnicos, rFlex podría funcionar mejor. Solicítalos a tu proveedor de hardware.</p>


	<ul>
		<li>Procesador i3 o equivalente</li>
		<li>4 GB RAM</li>
		<li>Pantalla 1024 x 720</li>
		<li>Navegador Google Chrome Versión 48.0.2564.116 m o superior</li>
	</ul>


	<p>
		<a href="http://es.wikihow.com/ver-la-versi%C3%B3n-de-Google-Chrome" target="_blank">¿Cómo se que versión tiene este computador?</a>
	</p>
</div>



