<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Mis turnos / pantalla inicial</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>Esta es la pantalla inicial. Aquí puedes ver los turnos de tu rotativa, los cambios y devoluciones fijadas, permisos autorizados y turnos extra asignados.</p>

	<p>Los días se listan separados en dos, día y noche.</p>

	<p>Antes de seguir podría serte útil revisar el código de colores.</p>

	<p><b>En la imagen</b> | El día viernes 01 de abril <i>fcasanueva</i> tiene un tiene un <b>turno largo</b> durante el día y la noche <b>libre</b>. El turno <span style="background: red; color: white;">Largo 8-20</span> aparece de color rojo por que fue cambiado de fecha.</p>

	<img src="" alt="">



	<h3>NOTAS</h3>

	<p>Todos los turnos tienen un cuadro de texto donde puedes dejar un comentario que verá la coordinación cuando busque personas disponibles.</p>


	<img src="" alt="">

</div>