<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Usuario y Contraseña</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>Para ingresar por primera vez debes debes usar las siguientes credenciales:</p>

	<p>Ej.: Vicente Garcia Huidobro   16946340-7</p>

	<ul>
		<li>usuario: vgarciah</li>
		<li>clave secreta: 1694</li>
	</ul>

	<p>Si no puedes entrar envía un correo a soporte@rflex.cl</p>


	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/login.jpg" alt="">
	</a>

</div>