<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">¿Cómo agrego a una persona a la planilla?</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>Para agregar a un trabajador es necesario contar con su rut.</p>

	<p>En la barra lateral se debe ir al menú "Consultar/Agregar trabajador" e ingresar el rut <b>sin puntos ni guión</b>. De esta formas agregamos aun trabajador <b>Part-Time</b>.</p>

	<p>Las altas/bajas de personal contratado se realizan automáticamente.</p>
</div>