<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">¿Cómo cambio a una persona de rotativa?</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>En el menú "Turnos > Rotativa" existe un botón ubicado en la parte inferior llamado "Generar rotativa", este se habilita una vez que se selecciona un trabajador.</p>

	<p>Para generar una rotativa es necesario definir:</p>




	<ul>
		<li><b>Intervalo de tiempo</b> que comprende esta (fecha de inicio y termino)</li>
		<li><b>Sector</b> donde se realizarán los turnos(si los turnos no se realizarán todos en un mismo sector se recomienda escoger el sector donde se realizará la mayoria de ellos ya que luego se pueden editar los sectores)</li>
		<li><b>Tipo de rotativa</b> (Cuarto turno, cuarto turno modificado o turno de 8:00 a 17:00)</li>
		<li><b>Turno de inicio</b> o <b>turno en la fecha de inicio</b>. En el caso del <i>cuarto turno</i> este puede ser: largo, noche, primer día libre o segundo día libre.</li>
	</ul>

	<img src="" alt="">

	<p>Al crear una rotativa nueva, esta sobrescribirá toda la información comprendida en el intervalo de esta. Por ello es necesario marcar un checkbox donde se confirma el entendimiento de esto. Si no se desean perder turnos registrados puede crear la rotativa después del último cambio y modificar manualmente los turnos anteriores en el menú de Turnos > <b>Rotativa</b>.</p>
</div>