<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">¿Cuál es la diferencia entre CT/DT y CTS/DTS?</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<p>Existen dos tipos de cambio de turno:</p>

	<ul>
		<li>
			<p>Cambio de turno o CT es el que se realiza entre dos trabajadores. La devolución correspondiente se identifica con un DT. Estos cambios se ingresan a traves del menú de navegacion horizontal Turnos > Cambio de turno.</p>
		</li>
		<li>
			<p>Cambio de turno de servicio o CTS corresponde a un cambio requerido por la coordinación ya sea para liberar un turno con supernumerario, o para cubrir una ausencia con la devolución de turno de servicio. Estos se ingresan directamente en la planilla de la siguiente forma:</p>
		</li>
	</ul>


	<p><b>CTS</b>: botón derecho sobre el turno que se desea dejar de hacer.</p>

	<img src="" alt="">

	<p><b>DTS</b>: botón derecho sobre el turno libre donde se desea fijar una devolución.</p>

	<img src="" alt="">
</div>