<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Códigos de colores</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1439159177881.png" alt="">
	</a>

	<a href="#" class="thumbnail">
		<img src="assets/images/rflex/blob1439159167490.png" alt="">
	</a>
</div>