<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Glosario</h1>
			<!-- <span class="mainDescription">Procedimiento para generar un permiso</span> -->
		</div>
		<!-- <div ncy-breadcrumb></div> -->
	</div>
</section>




<div class="container-fluid container-fullw bg-white">
	<ol>
		<li>Delta de dotación</li>
		<li>Delta de turnos</li>
		<li>Sector</li>
		<li>Estamento</li>
		<li>Cambio de turno</li>
		<li>Cambio de turno de servicio</li>
		<li>Devolución de turno</li>
		<li>Devolución de turno de servicio</li>
		<li>Turno Part-time (PT)</li>
		<li>Turno de Otra Unidad (OU)</li>
		<li>Rotativa</li>
		<li>Staff</li>
		<li>Oferta de cama</li>
		<li>Estandar de cobertura</li>
	</ol>
</div>






